<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nuton.mobile" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <application
        android:name="com.nuton.mobile.ApplicationGlobals"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".DeviceListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DeviceDetailActivity"
            android:label="@string/title_device_detail"
            android:parentActivityName=".DeviceListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nuton.mobile.DeviceListActivity" />
        </activity>
        <activity android:name=".NotificationActivity"/>
        <service android:name="com.nuton.mobile.DfuService"/>
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="15e8e89afd5f332d76446cabb30bbb50674a6175" />
    </application>
</manifest>
